.score{
    background-color: #FBFBFB;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 32px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.score h2{
    position: absolute;
    top: 5px;
    left: 15px;
}

.label-score {
    transform: translateY(-15px);
    font-weight: bold;
}

.label-score-text {
    transform: translateY(20px);
}