.profil{
    width: 100%;
    padding: 60px 4% 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.profil h1{
    font-size: 48px;
}

.red{
    color: #ff0101;
}

.title_text{
    margin: 40px 0;
}

.profil_graph {  
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.1fr 0.9fr; 
    grid-auto-rows: 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "chart-01 chart-01 chart-01 infos"
      "chart-02 chart-03 chart-04 infos";
  }
  
  .chart-01 { grid-area: chart-01; }
  
  .infos {   display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    grid-area: infos;
  }
  
  .info-01 { grid-area: info-01; }
  
  .info-02 { grid-area: info-02; }
  
  .info-03 { grid-area: info-03; }
  
  .info-04 { grid-area: info-04; }
  
  .chart-02 { grid-area: chart-02; }
  
  .chart-03 { grid-area: chart-03; }
  
  .chart-04 { grid-area: chart-04; }
  
  .background_chart{
    background-color: #FBFBFB;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 32px;
    display: flex;
    flex-flow: row nowrap;
}